# Entorno virtual
venv/
env/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/
.idea/
